
.aboutHome{
  background-image: url("img/Globe/space.jpg");

}
.globeAnimation{
  position: relative;

 
  .globe{
    position: absolute;
    
  }
  
  .spaceship{
    position: relative;
    animation: rotate-center 4s linear infinite both;


    
    
    @keyframes rotate-center {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  
}
